<!DOCTYPE html>
<html lang="en">

<head>
{% load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="{% static '/index.css' %}" rel="stylesheet" type="text/css">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</head>

<body style="background-color:	rgb(220,220,220)">
  <img src="{% static '/logo2.jpeg' %}" style="width:20%">
  <form action="{% url 'db:user_login'%}" method="post" style="background-color:whitesmoke ; width:50%; margin-left: auto; margin-right: auto; border: 4px solid lightgray;">
   {% csrf_token %}
    <br>
    <div class="container"">
      <span class="label label-info"><strong>Username</strong></span>
      <input style="width:50%" type="text" name="username" placeholder="xyz" required >
      <br>
      <label for="password"><strong>Password</strong></label>
      <input style="width:50%" type="password" placeholder="****" name="password" required >
      <br>
      <input class="btn btn-success" type="submit" value="Login">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
        <label class="custom-control-label" for="defaultChecked2">Remember me!</label>
      </div>

      <footer>
        <br>
        <div class="footer-copyright text-center py-3" style="color: seagreen;">For more information contact:<br><a style="color: seagreen;font-size: small;" href="https://mail.google.com/mail/?view=cm&fs=1&to=mananshi.v@ahduni.edu.in">mananshi.v@ahduni.edu.in</a><br><a style="color: seagreen; font-size:small;" href="https://mail.google.com/mail/?view=cm&fs=1&to=bhavya.p@ahduni.edu.in">bhavya.p@ahduni.edu.in</a>
        </div>

      </footer>

  </form>
</body>

</html>